<% include ../partials/header %>


 <div class="container">
    <header class="jumbotron">
        <div class="container">
           <h1> Welcome to Recipe Manager!!!!!</h1>
           <p>View our hand-picked recipes from all over the world</p>
           <p>
            <a class="btn btn-primary btn-large" href="http://localhost:3005/recipes/new">Add New Campground</a>
           </p>
        </div>
    </header>

    <div class='row-text-center' style="display: flex;flex-wrap: wrap;">
            <% allrecipes.forEach(function(recipe){ %>
                <div class=" col-md-6">
                    <div class='thumbnail'>
                            <img src="<%= recipe.image %>">          
                    <div class="caption">
                            <h3><%= recipe.name %></h3>          
                    </div>
                    <p>
                            <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                   </p>                    
                   </div>
                </div>
            <% }); %>
    </div>
        
    
 </div>

<% include ../partials/footer %>
